<!-- {{aktualisKategoria}}
{{aruk|json}} -->
<div class="row">
    <div *ngFor="let aru of aruk"  class="col-4 my-3">
        
            <div  class="card h-100">
              <img [src]="aru.kep" class="card-img-top" alt="etel">
              <div class="card-body">
                <h5 class="card-title">{{aru.leiras}}</h5>
                <p class="card-text">
                    {{aru.ar}} Ft/{{aru.mennyiseg}}
                </p>
              </div>
              <div class="card-footer">
                <div *ngIf="aru.mennyiseg!='kg'; else db" class="input-group mb-3">
                    <input #mennyiseg min="1" type="number" class="form-control" >
                    <div class="input-group-append">
                      <button (click)="addTetel(aru,mennyiseg.value)" class="btn btn-outline-secondary" type="button">Button</button>
                    </div>
                </div>
                <ng-template #db>
                    <div class="input-group mb-3">
                        <select #mennyiseg class="form-control" >
                            <option *ngFor="let s of suly" [value]="s">
                                {{s}} kg
                            </option>
                        </select>
                        <div class="input-group-append">
                        <button (click)="addTetel(aru,mennyiseg.value)" class="btn btn-outline-secondary" type="button">Button</button>
                        </div>
                    </div>
                </ng-template>
              </div>
            </div>          
          
    </div>
</div>
